<div class="barr">
    <div class="item">
        <div class="cuenta" (click)="openFloatingWindow()" style="cursor: pointer;">
            <!-- <div class="icono">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
            </div> -->
            <div>
                <!-- <button mat-button [matMenuTriggerFor]="menu"> -->
                    <!-- <div class="icono">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
            </div> -->
            <mat-icon style="color: white; font-size: 2rem; height: auto;width: auto;" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                <!-- </button> -->
                

            </div>
            <p>Mi cuenta</p>
        </div>
    </div>
    <div class="item">Calculo de cuotas</div>
    <div class="margin-l">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout" (click)="logout()"></mat-icon>
    </div>
</div>