/* .heading{

}
.divisor{
    display: grid;
    grid-template-columns: 1fr 3.95fr;
    height: 100%;
}
.todo{
    height: 100%;
    padding-bottom: 5rem;
}

.fix{

    position: absolute;
    position: fixed;

  top: 5rem;  
  left: 0px;
}

.fix1{
    position: absolute;
    position: fixed;

  top: 0px;   
  left: 0px;
} */
